
        <div *ngIf = "assets">
            <h4 class = "data">Data to update</h4>
                    <form class ="form">
                      <div class="form-group">
                        <label>Description</label>
                        <input  class="form-control" placeholder=" {{ assets.asset.description }}">
                      </div> 
                      <div class="form-group">
                        <label>Title </label>
                        <input class="form-control" placeholder=" {{ assets.asset.title }}">
                      </div> 
                      <div class="form-group">
                        <label>Update Time </label>
                        <input class="form-control" placeholder=" {{ assets.asset.updateTime }}">
                      </div> 
                      <button class="btn btn-danger">Update</button>
                    </form>
        </div>    
   
   



   
  